$color-primary-0: #AD8AE0;	/* Main Primary color */
$color-primary-1: #EFE6FD;
$color-primary-2: #CEB7F1;
$color-primary-3: #8C63C9;
$color-primary-4: #6D41AC;

$color-complement-0: #FFF493;	/* Main Complement color */
$color-complement-1: #FFFCE6;
$color-complement-2: #FFF8BB;
$color-complement-3: #FFF171;
$color-complement-4: #FDEC51;
